* {
  box-sizing: border-box
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.about {
  background: blue;
  width: 650px;
  height: auto;
  margin-left: 10%;
}

.bio_image{
  height:10%;
  width: 10%;

}

.container{
    background-image: url("../images/simple-gray-pattern.jpg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.header {
  background: red;
  width: 100%;
  height: 100px;
}
