* {
  box-sizing: border-box
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*the about and contacts are flex children, not flex boxes. flex end*/
.about {
  background: blue;
  width: 650px;
  height: auto;
  margin: 40px 40px auto 10%;
  padding: 30px
}

.bio_image{
  height: 25%;
  width: 25%;
  float:left;
}

.connect{
  height: 200px;
  width: 200px;
  background: green;
}

.container{
    background-image: url("../images/simple-gray-pattern.jpg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.flex-child{

}

.header {
  background: red;
  width: 100%;
  height: 100px;
}

.icon{
  height: 50px;
  width: 50px;
}

.parent{
  display: flex;
}

.parent-between{
  justify-content: space-between;
}

.parent-around{
  justify-content: space-around;
}
